<a href="https://colab.research.google.com/github/5210411395-Vito-Dwi-Yanto/Preprocessing_ML/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Memuat Data**

In [167]:
import pandas as pd                                       # masukan libraries pandas untuk memproses data
import numpy as np                                        # NumPy (Numerical Python) adalah library Python yang menyediakan fungsi memudahkan kita melakukan perhitungan saintifik
from sklearn.model_selection import train_test_split      # untuk membagi array atau matriks menjadi himpunan bagian acak untuk data latih dan uji
import matplotlib.pyplot as plt                           # suatu library python untuk melakukan visualisasi data seperti membuat plot grafik untuk satu sumbu atau lebih.
from sklearn.cluster import KMeans                        # library python yang menyediakan banyak algoritma pembelajaran untuk regresi, pengelompokan, dan klasifikasi (K-Means)
from sklearn.metrics import silhouette_score              # untuk kumpulan data digunakan untuk mengukur rata-rata Koefisien Silhouette untuk setiap sampel
from sklearn.metrics import classification_report         # untuk memuat hasil laporan klasifikasi
from sklearn import model_selection
import joblib                                             # paket yang dapat dengan mudah mengubah kode Python menjadi mode komputasi paralel dan meningkatkannya.

df = pd.read_csv('/content/house_price.csv')      # Membaca dataset/memmuat data

df.head()                                               # Menampilkan isi data set teratas

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# **Memilih Fitur**

Semua fitur yang ada pada data semuanya berpengatuh jadi tidak ada yang tidak relevan maka semua fitur harus digunakan. Untuk itu ada gunaka satu fitur target yaitu Price

In [168]:
df.columns            #Melihat colom/attribut apa saja yang ada pada data set

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# **Menangani Nilai Yang Hilang**

Disini untuk mengecek apakah ada datang yang hilang, jika ada data yang hilang maka harus dihapus atau diubah. Karena pada dataset ini tidak ada missing values, jadi tidak perlu untuk menghapus atau mengubah datanya.

In [169]:
missing_values = df.isnull().sum()                # Mengecek missing values dalam dataset is null untuk mengkonfirmasi jika ada data yang missing(hilang)
print(missing_values)                               # Menjalankan hasil mising value

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Tidak ada data yang missing value

# **Mengubah data kategorikal menjadi numerik**

karena dataset yang digunakan sudah numerik maka tidak perlu mengubahnya.

In [170]:
df.dtypes    # Melihat data kategorikal

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Menghapus attribute yang tidak terlalu berfungsi agar tidak overload dalam perhitungan KNN

In [171]:
df = df.drop('date', axis=1)
df = df.drop('id', axis=1)
df = df.drop('zipcode',axis=1)

# **Memisahkan fitur target**
 
Mengambil fitur targe yaitu Price

In [172]:
X = df.drop(['price'], axis=1)            # Membuat variabel X untuk membuat data traning dan memisahkan atribut pada data set

y = df['price']                           # Membuat variabel y untuk membuat data traning dan mengambil data set

In [179]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)      # Membuat data training dan data testing

X_train.shape, X_test.shape                                                   # cek bentuk dari X_train and X_test

((17290, 17), (4323, 17))

# **Membuat metode KNN**

In [181]:
from sklearn.neighbors import KNeighborsClassifier      # fungfi bawaan dari python untuk metode algoritma KNN
from sklearn.tree import DecisionTreeClassifier         # masukan fungsi bawaan dari python untuk metode algoritma Decision Tree
from sklearn.metrics import accuracy_score              # menghitung skor akurasi untuk satu set label yang diprediksi terhadap label sebenarnya.

In [182]:
knn = KNeighborsClassifier(n_neighbors=3)         # Pelatihan data untuk KNN k=3
knn.fit(X_train, y_train)                         # Melakukan klasifikasi  
knn_predict = knn.predict(X_test)                 # Melakukan prediksi
accuracy_KN = accuracy_score(y_test,knn_predict)  # menghitung akurasi skor yang didapat
print("Accuracy of the KNeighbors Classifier model: ", accuracy_KN * 100) # menampilkan hasil akurasi skor
joblib.dump(knn,'models\KNNClassifier.pkl')       # mencetak hasil klasifikasi dengan menggunakan "Joblib"

Accuracy of the KNeighbors Classifier model:  0.3469812630117973

['models\\KNNClassifier.pkl']

# **Membuat metode Decision Tree**

In [183]:
# Pelatihan data untuk metode algoritma decision tree
dt_classfier = DecisionTreeClassifier()     
model_dt = dt_classfier.fit(X_train, y_train)       # melakukan kalsifikasi 
dt_classi_predict = model_dt.predict(X_test)        # klasifikasi prediksi
accuravy_DT = accuracy_score(y_test,dt_classi_predict)        # menghitung akurasi skor yang didapat dengan menggunakan fungsi bawaan python
print("Accuravy of the decision tree classifier model: ", accuravy_DT * 100)      # menampilkan hasil akurasi skor
joblib.dump(model_dt,'models\decisionTreeClassifier.pkl')     # mencetak hasil klasifikasi dengan menggunakan "Joblib"

Accuravy of the decision tree classifier model:  0.9946796206338191

['models\\decisionTreeClassifier.pkl']